@import url(https://fonts.googleapis.com/css?family=stemple+Garmond);

@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+sc);

 *{ 

  box-sizing: border-box;

  padding: 0;

  margin: 0;

}



h1, h2 {

  background-color: #ffffff;

  color: #00FFFF;

}



h1 {

  font-weight: bold;

  font-size: 2em;

}



h2 {

  font-weight: normal;

  font-size: 1.5em;

}



h3 {

  font-weight: bolder;

  font-size: 1.3em;

  background-color: #ffffff;

  color: #000000;

}



p {

  font-weight: normal;

  font-size: 1.1em;

  background-color: #ffffff;

  color: #000000;

}



body {

  font-size: 16px;

  font-family: 'Carrois+Gothic+sc', sans-serif;

}



header, nav, main, footer { 

  margin: auto;

  padding-left: 0.5em;

  padding-right: 0.5em;

  max-width: 1200px;

}



.display-small {

  display: block;

}

.display-medium {

  display: none;

}

.display-large {

  display: none;

}



.header-container {

  display: flex;

  justify-content: center;

  align-items: center;

}



.title {

  margin: 0;

  font-size: 1.8em;

}

.subtitle {

  margin: 0;

  font-family: 'stemple+Garmond', cursive;

  font-size: 0.9em;

}



nav {

  width: 100%;

}



nav div {

  background-color: #00FFFF;

    display: flex;

  flex-direction: column;

   margin: 0;

  padding: 0;



}



nav button {

  margin-left: 0.2em;

  color: #ffffff;

  font-size: 2.75em;

  background-color: #00FFFF;

  border: none;

    text-align: left;

}

nav ul li {

  line-height: 1.5em;

  margin: 0;

  padding: 0;

}

nav ul {

  list-style-type: none;

  background-color: #00FFFF;

  padding: 0;

  margin: 0;

  overflow: hidden;

}



nav ul li a {

  display: block;

  padding: 14px 14px;

  color: #ffffff;

  text-decoration: none;

}



nav ul li.active a {

  color: #000000 ;

 background-color:#00FFFF;   

}

nav ul li a:hover {

 color: #000000;

    background-color:#00CED1;

}



nav ul.hide {

  display: none;

}



.weather-container {

display: flex;

  flex-flow: row wrap;

  justify-content: center;

}

.main-image {

  padding-top: 25px;

  width: 100%;

}



.main-image img {

  width: 100%;

  margin: auto;

}



.weather-group {

  display: flex;

  flex-flow: row wrap;

  justify-content: center;

  margin-top: 5px;

}



.main-title {

  font-size: 2em;

  width: 100%;

  text-align: center;

  padding-top: 5px;

}



.weather-block {

  display: flex;

  flex-flow: row nowrap;

  align-items: center;

  justify-content: center;

  width: 100%;

}



.weather-desc {

  font-family: 'stemple+Garmond', cursive;

  font-size: 1.5em;

  text-align: right;

}





.weather-icon {

  width: 100px;

  height: 100px;

}



.temperature {

  width: 100%;

  text-align: center;

}



.precip-wind {

  width: 100%;

  text-align: center;

}

.weather-data {

  display: block;

}



.forecast {

  display: none;

  margin-top: 5px;

}



.forecast h3 {

  border-style: solid solid none solid;

  text-align: center;

  border-width: 1px;

  font-size: .8em;

  margin: 0;

  padding: 0.5em;

  background-color: #00FFFF;

    color: #ffffff;

}



.forecast table {

  border: 1px;

  width: 100%;

  text-align: center;

    border-collapse: collapse;

}



.forecast table th, .forecast table td {

  border: 2px solid;

  border-collapse: collapse;

  padding: 4px;

    background-color: #00FFFF;

  background-color: #ffffff;

}



article {

  border: 1px solid;

    flex-flow: row wrap;

  margin-top: 0.5em;

  padding: 1em;

}



article h3 {

  text-align: center;

  font-size: 2em;

 margin: 0 5px 15px 5px;

    width: 100%;

}



article p {

  margin-bottom: 0;

    font-size: 1.5em

}





.article-image {

  width: 100%;

  margin: auto;

}

.article-image img {

  width: 100%;

  margin: auto;

}



footer {

  margin-top: 0.4em;

  text-align: center;

  font-size: 0.8em;

}

footer aside {

  background-color: #00FFFF;

  padding: 0.5em;

  color: #ffffff;

}

footer aside span {

  font-weight: bold;

}

footer>p {

  margin-top: 0;

  padding: 0.5em;

  background-color: #00FFFF;

  color: #ffffff;

}



weather-container {

  display: flex;

  flex-flow: row wrap;

  justify-content: center;

}



.main-image {

  padding-top: 5px;

  width: 100%;

}



.main-image img {

  width: 100%;

  margin: auto;

}



.weather-group {

  display: flex;

  flex-flow: row wrap;

  justify-content: center;

  margin-top: 5px;

}



.main-title {

  font-size: 2em;

  width: 100%;

  text-align: center;

  padding-top: 5px;

}



.weather-block {

  display: flex;

  flex-flow: row nowrap;

  align-items: center;

  justify-content: center;

  width: 100%;

}



.weather-desc {

  font-family: 'stemple+Garmond', cursive;

  font-size: 1.5em;

  text-align: right;

}



.weather-icon {

  width: 100px;

  height: 100px;

}



.temperature {

  width: 100%;

  text-align: center;

}



.precip-wind {

  width: 100%;

  text-align: center;

}



.weather-data {

  display: block;

}

    .gallery-grid {

  display: grid;

  margin-top: 10px;

  margin-bottom: 5px;

  grid-template-columns: 1fr;

  grid-gap: 10px 10px;

}



.gallery-grid img {

  width: 100%;

  height: auto;

}



.gallery-grid figure {

  margin: 0;

  padding: 0;

}





form#stormdata {

    margin: 1em 3%;

}

fieldset {

    background-color: aliceblue;

    margin: 1.5em 0;

    border: #00FFFF solid 3px;

}

legend {

    font-family: 'stemple+Garmond', cursive;

    margin-left: 3%;

    padding: .5em;

    border: #00FFFF solid 2px;

    color: #ffffff;

    background-color:#E0FFFF;;

    font-size: 1em;

    }

label {

    display: block;

    margin: .5em;

}

label span {

    display: block;

    font-size: 1.25em;

    padding-top: .5em;

    padding-bottom: .3em;

    color: #00FFFF;

}



.stdate {

    margin-bottom: .1em;

}



.info {

    margin-left: .7em;

}



.stinfo {

    font-family: 'stemple+Garmond', cursive;

    Color: #00FFFF;

    margin-left: .7em;

    margin-bottom: .5em;

}



input.submitBtn {

    -webkit-appearance: none;

    border: solid 1px #000000;

    width: 35%;

    margin: .5em 0;

    font-family: 'stemple+Garmond', cursive;

    font-size: 1.33em;

    text-shadow: .5px .5px 1px #000000;

    padding: .6em;

  background-color:#E0FFFF;

    box-shadow: 3px 3px 9px #00FFFF;

    color: #ffffff;

}





main-title {

    font-family: 'stemple+Garmond', cursive;

    font-size: 25px;

    margin-top: 2em;

    margin-left: 2.5em;

}

    main section {

  display: inline-table;

  flex-direction: column;

}



main section article {

  display: block;

  flex-direction:column;

}



main section article p {

  width: auto;

}



main section article ul {

  margin-left: 2em;

}



#main-pic {

	width: 100%;

	margin: 0;

	padding: 0;

}



#main-img {

	width: 100%;

	max-height: 200px;

	min-height: 150px;

}



.current {

	padding: 2px;

	display: flex;

	flex-flow: row nowrap;

	justify-content: center;

	align-items: center;

	font-size: 2em;

	font-weight: bold;

}



.right {

	display: none

}



.left{

	padding-right: 1%;

}



#current-img {

	height: 100%;

	width: 100%;

}



#current-pic {

	padding-left: 1%;

	height: 100px;

	width: 100px;

}





.highlow {

	width: 100%;

	display: inline-flex;

	justify-content: center;

	align-content: center;

	align-items: center;

	align-self: center;

}



.conditions {

	display: flex;

	flex-flow: column nowrap;

	justify-content: center;

	align-items: center;



}



#forecasttext {

	text-align: center;

}



section.weatherdata {

	padding: 2px;

	display: flex;

	flex-flow: column nowrap;

	justify-content: center;

	align-items: center;



}



section.forecast {

	display: block;

	

}



.actualnumber {

	font-weight: bold;

	font-size: 1.3em

}