* { box-sizing: border-box;}  

body {
  font-size: 16px;
  
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}
section.forecast {
    display: none;
}

header {}
header h1 {}
header img {}
header .subheading {}

nav {}
nav button {}
nav ul {}
nav ul li {}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {}

article p.town-article img { 
    float: none;
  width: 400; 
  margin: 200;
}

footer {}
footer aside {}
footer>p {}