* { box-sizing: border-box;}  

body {
    font-family: 'Mukta Mahee', sans-serif;
  font-size: 16px;
  
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}
section.forecast {
    display: none;
}

header {}
header h1 {}
header figure .logo {
    
    .container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}
    .responsive-image {
  max-width: 100%;
}
    .cell img {
  display: block;
}
.cell {
  margin: 1rem;
}
}

nav {

    background-color: black

}

nav button {

    margin: .2rem 2%;

    background-color:transparent;

    border: none;

    font-size: 1.6rem;

    color: gray

        

}

nav ul {list-style-type: none;

padding: 0;

margin: 0;}

nav ul li {}

nav ul li a {

    display: block;

        padding: .8rem 2%;

    text-decoration: none;

    color: white;

    border-top: 1px solid rgba(0,0,0,0.3);

}

nav ul li.active a {background-color: rgba (0,0,0,0.2); color: white;}

nav ul li a:hover {background-color: rgba (0,0,0,0.4);}

nav ul.hide {display: none;}

main {}
main h2 {}
main figure.frankplain{ 
    width: 50%;
    float: none;
    margin: 0 2% 0 0;
}
main figure img { width: 100%; }


section {}

main figure.franktown{ 
    width: 50%;
    float: none;
    margin: 0 2% 0 0;
}
main figure img { width: 100%; }

footer {}
footer aside {}
footer>p {}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
    }
